<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="ASFFeed" value="https://pkgs.dev.azure.com/asfweb/_packaging/asffeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ASFFeed>
      <add key="Username" value="AzureDevOps" />
      <add key="ClearTextPassword" value="pq3x2ts6hx6prgrwpv35667t5zsl7uct7c5br2y4buzdr5agjfta" />
    </ASFFeed>
  </packageSourceCredentials>
</configuration>
