<div class="page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between center">

        <!-- APP TITLE -->
        <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                supervisor_account
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                UTENTI
            </span>
        </div>
        <!-- / APP TITLE -->

        <!-- ADD BUTTON -->
        <button mat-raised-button (click)="add()" class="fuse-white mt-24 mt-md-0">
            <span>AGGIUNGI</span>
        </button>
        <!-- / ADD BUTTON -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <div class="mx-16 mt-16" fxLayoutAlign="space-between">
            <!-- <input-string label="Ricerca" [(ngModel)]="filter" (onKeyUp)="search(false)" fxFlex></input-string> -->
        </div>
        <mat-table class="table-table" #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}"
            fusePerfectScrollbar>

            <!-- ID Column -->
            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef>Cognome</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    <p class="text-truncate">{{data.lastName}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    <p class="text-truncate">{{data.firstName}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fiscalCode">
                <mat-header-cell *matHeaderCellDef>Codice Fiscale</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    <p class="text-truncate">{{data.fiscalCode}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    <p class="text-truncate">{{data.email}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="companyName">
                <mat-header-cell *matHeaderCellDef>Ditta/UO</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    <p class="text-truncate">{{data.companyName}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef style="width:20px;">Azioni</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="edit(data.id)">
                            <mat-icon>edit</mat-icon>
                            <span>Modifica</span>
                        </button>
                        <button mat-menu-item (click)="startDelete(data.id)">
                            <mat-icon>delete</mat-icon>
                            <span>Elimina</span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let data; columns: displayedColumns;" class="table-row" matRipple>
            </mat-row>
        </mat-table>
    </div>
    <!-- / CONTENT -->
</div>